include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

flatpak:
    extends: ['.flatpak']
    variables:
        APP_ID: "org.gnome.BreakTimer.Devel"
        MANIFEST_PATH: "build-aux/flatpak/org.gnome.BreakTimer.Devel.json"
        FLATPAK_MODULE: "gnome-break-timer"
        RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
        MESON_ARGS: "-Dtests=all"
        BUNDLE: gnome-break-timer-devel.flatpak
