[Desktop Entry]
Type=Application
Name=Break Settings
Comment=Change your settings for micro breaks and rest breaks
Keywords=break;micro;rest;timer;
X-Ubuntu-Gettext-Domain=brainbreak
Categories=GNOME;GTK;Utility;Settings;X-GNOME-SystemSettings;
Exec=/usr/bin/brainbreak-settings
StartupNotify=true
