[Desktop Entry]
Type=Application
Name=Brain Break
X-Ubuntu-Gettext-Domain=brainbreak
NoDisplay=true

Exec=/usr/bin/brainbreak
AutostartCondition=GSettings org.brainbreak.breaks master-enabled
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true

