@define-color bg_inner rgba(15, 15, 15, 0.92);
@define-color bg_outer rgba(0, 0, 0, 0.96);

GtkWindow {
	background-color: @bg_inner;
	background-image:-gtk-gradient (linear,
               center top,
               center bottom,
               color-stop (0, @bg_outer),
               color-stop (0.1, @bg_inner),
               color-stop (0.9, @bg_inner),
               color-stop (1, @bg_outer));
	border-radius: 8;
	color: #ffffff;
}

GtkLabel.timer_label {
	font-weight:bold;
	font-size:25;
	text-shadow:1 1 5 rgba(0,0,0,0.5);
}

